
@media screen and (max-width: 1680px) {
#layoutSidenav_content main {margin: 40px 80px; padding: 40px;}     
    
}

@media screen and (max-width: 1440px) {
    
#layoutSidenav_content main {margin: 40px; padding: 20px;} 
#profile-steps .nav-link span {height: 80px; width: 80px;}    
#profile-steps .nav-link svg {width: 35px;} 
.single-tab-content {padding: 40px 50px;} 
#profile-steps .nav-link .connecting-line {top: 30%;}
.membership-plans .card {padding: 20px;} 
.single-tab-content h3 {margin-bottom: 50px;} 
.membership-plans .card-body ul {padding: 0;}
.membership-plans .card-title {font-size: 26px;}    
    
}

@media screen and (max-width: 1280px) {
      
.checkout-radio h4 {font-size: 20px;}
.checkout-radio [type="radio"]:checked + label, .checkout-radio [type="radio"]:not(:checked) + label {font-size: 16px;}
li.nav-item label {font-size: 14px; line-height: 18px;}    
#profile-steps .nav-link span {height: 70px; width: 70px;} 
#profile-steps .nav-link svg {width: 30px;}
#profile-steps .nav-link .connecting-line {top: 35%;}   
.form-detail .info-input label {font-size: 15px; margin-top: 20px;} 
.form-detail .info-input input, .form-detail .info-input select {padding: 12px;}    
.select2-container--default .select2-selection--multiple {padding: 6px;} 
.membership-plans .card-title {font-size: 20px;}  
.membership-plans .card {padding: 10px;}    
}

@media screen and (max-width: 1199px) {

#layoutSidenav_content .main-para {font-size: 18px;}    
.checkout-radio {flex-direction: column;align-items: self-start;} 
.both-radio {margin-left: unset; margin-top: 10px;} 
.checkbox-input input {width: 100px; margin-top: 0; margin-right: 10px;} 
.checkout-radio [type="radio"]:checked + label:before, .checkout-radio [type="radio"]:not(:checked) + label:before {width: 25px;height: 25px;}    
.checkout-radio [type="radio"]:checked + label:after, .checkout-radio [type="radio"]:not(:checked) + label:after {width: 13px;height: 13px;top: 6px;left: 6px;}
.checkout-radio [type="radio"]:checked + label, .checkout-radio [type="radio"]:not(:checked) + label {padding-left: 32px; line-height: 24px;} 
#profile-steps .nav-link span {height: 60px; width: 60px;} 
#profile-steps .nav-link svg {width: 25px;} 
#profile-steps .nav-link .connecting-line {top: 32%;} 
.membership-plans .card-title {font-size: 18px;margin-bottom: 0px;} 
.membership-plans .card-title .monthly {font-size: 12px;} 
.membership-plans .card {padding: 10px 0;}    
.membership-plans .card-body ul li {font-size: 14px;line-height: 26px;}  
.membership-plans .card-body ul li svg {margin-right: 5px;width: 10px;}    
.membership-plans .card-body button {width: 150px !important; font-size: 16px;margin: 20px auto 0;padding: 6px;}
.next.btn a {padding: 10px;width: 200px;font-size: 20px;margin-top: 30px;}      
}


@media screen and (max-width: 767px) {

.sb-topnav.navbar-dark #sidebarToggle {display: inline-block;} 
.sb-topnav.navbar-dark #sidebarToggle:focus {box-shadow: none;}     
.topbar-icon a svg {width: 20px;} 
a.notification {margin: 0 30px;}    
.sb-topnav.navbar-dark #sidebarToggle svg {width: 20px;height: 20px;}    
nav.sb-topnav.navbar.navbar-expand.navbar-dark {display: flex;height: auto;justify-content: space-between;} 
.single-tab-content {padding: 30px;}  
#layoutSidenav_content main {margin: 30px; padding: 0;}    
    
}

@media screen and (max-width: 480px) {
    
}
